
.rbc-event:hover{
background-color: pink;
}
.zumba{
    background-color: red;
}
.running{
    background-color: rgb(57, 140, 140);
}
.testing{
    background-color: palegreen;
}
.jogging{
background-color: olivedrab;
}
.arms{
background-color: palevioletred
}
.abs{
background-color: palegreen
}
.back{
background-color: moccasin
}
.legs{
background-color: mediumseagreen
}
.shoulder{
background-color: maroon;
}
.waterIntakeFormEdit{
width: 30%;
background-color: white;
border: 2px solid black;
}
.waterintakeformedit-bttn-div{
    float: right;
}
br{
    clear: right;
}
.edit-waterintake-bttn{
    float: right;
    height: 44px;
}
.popup-content{
    width: 200px !important;
    z-index: 10 !important;
    border: 3px solid rgb(209, 95, 95)  !important ;
}
.addwater-button{
    margin-top: 4px;
    background-color: white;
    border: none;
}
.addwater-button:hover{
    border: 2px solid rgba(85, 157, 220, 0.708);
    border-radius: 25px;
}