
.rbc-event:hover{
background-color: pink;
}
.zumba{
    background-color: red;
}
.running{
    background-color: aqua;
}
.testing{
    background-color: palegreen;
}
.jogging{
background-color: olivedrab;
}