body, html {margin: 0;padding: 0;}
.home{
    background-image: url('./testingbackground.jpg');
    background-repeat: no-repeat;
   background-position: 99% 50%;
    background-color: #464646;
    background-size: 100% 100%;
}
.logo-image-homepage{
    padding-top: 50px;
   height: auto;
   width: 45%;
   min-width: 300px; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.link-to-register{
    text-align: center;
}
.keys-to-success{
    width: 100%;
    height: 200px;
    text-align: center;

    

}

.keys-to-success h1{
    padding-top: 20px;
    font-size: 2em;
    width: 70%;
    margin: 0 auto;
}
.container-for-info-divs{
    width: 100%;
    text-align: center;
}
.container-for-info-divs br{
    clear: left;
    
}
.first-container{
    height: 300px;
    float: left;
    width: 25%;

}
.second-container{
    height: 300px;
    width: 25%;
    float: left;
   
}
.third-container{
    height: 300px;
    width: 25%;
    float: left;
 
}
.fourth-container{
    height: 300px;
    width: 25%;
    float: left;
}
.login-form-container{
    padding-bottom: 300px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .keys-to-success{
        padding-bottom: 40px;
        
    }
    .first-container, .second-container, .third-container, .fourth-container{ 
        float: none;
        width: 70%;
        margin: 0 auto;
        height: auto;
    }
    .container-for-info-divs br{
        clear: none;
        
    }
    .container-for-info-divs{
        margin-top: 100px;
    }
}