.link-to-login{
    text-align: center;
    width: 80px;
    margin: 0 auto;
}
#firstName, #lastName, #passwordConfirm{
    font-size: 20px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
.link-to-register-on-register button{
    background-color: #9a908e;
    color: white;
    margin-top: 10px;
    width: 45%;
    height: 50px;
    font-size: 20px;
    padding: 0;
    border: 0;
}
.link-to-login button {
    color: white;
    background-color: #4b474a;
    width: 45%;
    height: 50px;
    font-size: 20px;
    padding: 0;
    border: 0;
}
.registration-form-container{
padding-bottom: 120px;
}

@media only screen and (max-width: 600px) {

    .registration-form-container{
        padding-bottom: 150px;
        }
}
@media only screen and (max-width: 500px) {
    .link-to-register-on-register button, .link-to-login button{
    height: 40px;
    }

    .registration-form-container{
        padding-bottom: 80px;
        }
    #firstName, #lastName, #passwordConfirm{
        height: 20px;
    }
}